<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wap.control.dao.MachineInfoMapper">
    <resultMap id="BaseResultMap" type="com.wap.model.MachineInfo">
        <constructor>
            <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="TINYINT" javaType="java.lang.Byte"/>
            <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="reserved1" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="reserved2" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="reserved3" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ID, name, type, ip, createTime, updateTime, reserved1, reserved2, reserved3, REMARK, 
    status
  </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from machineinfo
        where ID = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByMachineInfo" resultMap="BaseResultMap" parameterType="com.wap.model.MachineInfo">
        select
        <include refid="Base_Column_List"/>
        from machineinfo
        where 1=1
        <if test="id != null">
            and ID = #{id,jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=TINYINT}
        </if>
        <if test="ip != null">
            and ip = #{ip,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null">
            and createTime = #{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="updatetime != null">
            and updateTime = #{updatetime,jdbcType=TIMESTAMP}
        </if>
        <if test="reserved1 != null">
            and reserved1 = #{reserved1,jdbcType=VARCHAR}
        </if>
        <if test="reserved2 != null">
            and reserved2 = #{reserved2,jdbcType=VARCHAR}
        </if>
        <if test="reserved3 != null">
            and reserved3 = #{reserved3,jdbcType=VARCHAR}
        </if>
        <if test="remark != null">
            and REMARK = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=TINYINT}
        </if>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from machineinfo
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wap.model.MachineInfo">
    insert into machineinfo (ID, name, type, 
      ip, createTime, updateTime, 
      reserved1, reserved2, reserved3, 
      REMARK, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{ip,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.wap.model.MachineInfo">
        insert into machineinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
            <if test="reserved1 != null">
                reserved1,
            </if>
            <if test="reserved2 != null">
                reserved2,
            </if>
            <if test="reserved3 != null">
                reserved3,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="reserved1 != null">
                #{reserved1,jdbcType=VARCHAR},
            </if>
            <if test="reserved2 != null">
                #{reserved2,jdbcType=VARCHAR},
            </if>
            <if test="reserved3 != null">
                #{reserved3,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wap.model.MachineInfo">
        update machineinfo
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="reserved1 != null">
                reserved1 = #{reserved1,jdbcType=VARCHAR},
            </if>
            <if test="reserved2 != null">
                reserved2 = #{reserved2,jdbcType=VARCHAR},
            </if>
            <if test="reserved3 != null">
                reserved3 = #{reserved3,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wap.model.MachineInfo">
    update machineinfo
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      ip = #{ip,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>